.central_items {
    margin: 0 auto;
    text-align: center;
    margin-top: 10vh;
}

h3,
h4 {
    margin-top: 50px;
}

.btn-primary {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    background-color: #FFB7AC;
    border-radius: 25px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #FFB7AC;
    border: 1px solid #FFB7AC
}