.central_items {
    margin: 0 auto;
    text-align: center;
}

h3 {
    margin-top: 50px;
}

.btn-outline-secondary {
    margin-top: 50px;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #FFB7AC
}

.btn-outline-secondary:hover {
    background-color: #FFB7AC;
}