.content-container {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  // margin-top: 70px;
  // height: 100%;
  margin-bottom: 56px;
  // padding-bottom: 100px;

  h2 {
    margin-top: 20px;
  }

  .user-img {
    height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    padding-top: 10px;
  }

  .short-description {
    margin-right: 20px;
    color: #6b7280;
    font-size: 16px;
  }

  h4 {
    color: #6b7280;
    font-size: 16px;
    text-align: left;
  }

  p {
    text-align: left;
  }
}

.explore_viewProfile {
  // background: #ffffff;
  height: 70vh;
  margin-bottom: 30px;
  overflow: auto;
  border-radius: 24px;

  img {
    width: 294px;
    height: 230px;
    border-radius: 24px;
  }

  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 22px;
    font-size: 31px;
    line-height: 38px;
    text-align: left;
    color: #1f2937;
  }

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    // width: 100px;
    font-size: 16px;
    line-height: 19px;
    color: #6b7280;
    // border-right: 2px solid #80808024;
    padding-left: 20px;
  }
}

.chat-body {
  height: 60vh;
  overflow-y: auto;
  img {
    width: 42px;
    height: 42px;
  }
  .chat-body-inner-right {
    text-align: center;
    display: flex;
    justify-content: end;
    gap: 11px;
    margin: 10px;
    .write {
      background: #ffb7ac;
      min-width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 15px;
      border-radius: 5px;
      p {
        margin: 0;
        font-size: 14px;
        color: #1f2937;
        font-weight: 400;
        /* width: 100%; */
        word-break: break-all;
      }
      //   background: #ffb7ac;
      //   transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
  .chat-body-inner-left {
    text-align: center;
    display: flex;
    justify-content: start;
    gap: 11px;
    margin: 10px;

    .write {
      background: #fff;
      min-width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 15px;
      border-radius: 5px;
      p {
        margin: 0;
        font-size: 14px;
        color: #1f2937;
        font-weight: 400;
        /* width: 100%; */
        word-break: break-all;
      }
      //   background: #ffb7ac;
      //   transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}
.chat-body {
  overflow: auto; /* or auto */
  width: 100%; /* or any width */
  -ms-overflow-style: none; /* for IE and Edge */
}

/* Hide scrollbar in Webkit */
.chat-body::-webkit-scrollbar {
  width: 0.2em;
  background-color: transparent; /* change the color to match your background */
}
.chat-body::-webkit-scrollbar-thumb {
  background-color: transparent; /* change the color to match your background */
}
.chat-footer {
  position: fixed;
  bottom: 0px;
  padding: 15px;
  gap: 15px;
  align-items: center;
  .round-shape {
    width: 48px;
    height: 48px;

    background: #ffb7ac;

    box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
  input {
    width: 286px;
    height: 56px;
    /* left: 80px; */
    /* top: 764px; */
    background: #ffffff;
    box-shadow: 0px 10px 40px rgb(173 176 181 / 12%);
    border-radius: 64px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;

    /* Sub Text */

    color: #6b7280;
  }
}

.logos {
  .viewProfile-no-active {
    background: white;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #edafa6;
    border-radius: 5px;
  }
  .viewProfile-active {
    background-color: #edafa6;
  }
}
