@import "./assets/css/home.scss";
@import "./assets/css/editProfile.scss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

body {
  font-family: "Inter";
   a {
    text-decoration: none !important;
  }

  // background: rgba(233, 236, 239, 0.23);
  height: 100vh;

}
.btn:hover {
  color: #fff;
  background-color: #a60000;
  border-color: #a60000;
}

// ::-webkit-scrollbar {
//     width: 10px;
//   }

//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #f1f1f1;
//   }

//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #888;
//   }

//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }
